*{font-family: 'Orbitron', sans-serif;}



.main-container {
}
.elements {
  width: 430px;
  background-color: rgb(116, 116, 116);
  margin: 100px auto;
  border-radius: 5px;
  padding: 10px;
}
.display {
  width: 410px;
  background-color: rgb(178, 204, 175);
  height: 70px;
  border-radius: 5px;
  margin: auto;
  padding: 10px 0px;
  margin-top: 10px;
}
.buttons {
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.numbers {
  display: block;
  justify-content: space-between;
}
.first-row,
.second-row,
.third-row,
.fourth-row {
  display: flex;
  justify-content: space-between;
}
button{
    width:90px;
    height:50px;
    margin:5px 0px;
    border-radius: 10px ;
    border: none;
    font-size:24px;
    cursor: pointer;
}

button:hover{
    background-color: aqua;
    
}
span{
  font-size: 42px;
  float: right;
  padding: 10px;

}


